:root {
  --vp-c-brand: #007bff; /* Primary Color */
  --vp-c-brand-light: #0056b3; /* Darker Primary */
  --vp-c-accent: #ed4648; /* Secondary Color */
  --vp-c-accent-bg: #ed4648; /* Secondary Color */
}
